
body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#333333;
    background-color: #F7F7F7;
}
body, span, div, a, img, h1, h2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#MainGarleryPage_Container {
    text-align: center;
}
#MainGarleryPage_HeaderLang {
    position:absolute;
    top:7px;
    right:10px;
    cursor:pointer;
}
#MainGarleryPage_HeaderTitle {
    -webkit-transition: opacity 1s linear;
    transition: opacity 5s linear;
}
    #MainGarleryPage_Header .MainGarleryPage_ShowAll {
        padding-bottom:7px;
        color: blue;
        cursor: pointer;
    }
.MainGarleryPage_Item {
    display: inline-block;
    width: 14%;
    padding: 10px;
    margin:10px 0px;
    vertical-align: top;
    box-sizing: border-box;
    text-align: left;
    background-color: #EEE;
}
.MainGarleryPage_Item img {
    width:100%;
    height:159px;
}
.MainGarleryPage_Item_Link {
    display:block;
    margin-bottom: 7px;
    text-decoration: none;
}
.MainGarleryPage_Item_Date {
    margin-bottom: 7px;
}
.MainGarleryPage_Item_Author {
    margin-bottom: 7px;
}
    .MainGarleryPage_Item_Author .ThumbValue {
        color: blue;
        cursor: pointer;
    }
.MainGarleryPage_Item_Title {
    margin-bottom: 7px;
}
.MainGarleryPage_Item .ThumbLabel {
    font-weight:bold;
}
.MainGarleryPage_Item .ThumbValue {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 1200px) {
    .MainGarleryPage_Item {
        width: 24%;
    }
}

@media only screen and (max-width: 1000px) {
    .MainGarleryPage_Item {
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .MainGarleryPage_Item {
        width: 45%;
    }
    #MainGarleryPage_HeaderTitle {
        font-size: .9em;
    }
}

@media only screen and (max-width: 400px) {
    .MainGarleryPage_Item {
        width: 95%;
    }
    #MainGarleryPage_Header {
        background-color: #000000;
        color: #CCCCCC;
    }
    #MainGarleryPage_HeaderTitle {
        margin: 0px;
        padding: 20px 0px;
    }
    body {
        font-size: .8em;
    }
}
